/*  removes margin by default */
* {
    margin: 0;
    box-sizing: border-box; 
  }

/* header portion of the webpage */
.header {
    background-color: #1F2937;
    font-family:'Roboto';
    padding: 20px 150px;
    /* creates flex items links and intro */
    display: flex;
    flex-direction: column;
}

/* creates flex items ".links h1" and ul */
.links {
    display: flex;
    justify-content: space-between;
}

ul {
    /* creates flex items for each li link */
    display: flex;
    /* removes bullets from each li */
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 18px;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 24px;
    color: #F9FAF8;
}
a {
    text-decoration: none;
    color: #E5E7EB;
    padding: 10px;
}

.intro {
    padding: 60px 0;
    /* creates flex items .text and .main-image */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text {
    max-width: 500px;
    display: flex;
    flex-direction: column;
}

h2 {
    font-size: 48px;
    font-weight: 900;
    color:#F9FAF8;
    margin: 0;
}

.text p {
    font-size: 18px;
    color:#E5E7EB;
    margin: 0;
    padding: 10px 0;
}

.intro img {
    height: 250px;
    width: auto;
}

button {
    height: 30px;
    width: 100px;
    font-size: 18px;
    font-weight: bold;
    background-color: #3882F6;
    color:#E5E7EB;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

/* second portion of webpage, use cases */
.use-cases {
    font-family: 'Roboto';
    /* creates flex items h3 and icons */
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    font-size: 36px;
    font-weight: 900;
    color:#1F2937;
    padding: 50px;
}

.icons {
    /* creates a flex item for each card */
    display: flex;
    gap: 40px;

}

.card {
    height: 350px;
    width: 200px;
    font-size: 18px;
    color:#1F2937;
    text-align: center;
    /* creates flex items .card img and .card p */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card img {
    height: 200px;
    width: 200px;
    /* fit image to height x width */
    object-fit: cover;
    /* adds border to image */
    border: 5px solid #3882F6;
    /* rounds edge of border */
    border-radius: 10px;
}

/* third portion of the web page, the quote */
.quote {
    font-family: 'Roboto';
    padding: 50px 400px;
    background-color: #E5E7EB;
    /* creates .quotation and .originator flex items */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quotation {
    font-size: 36px;
    color:#1F2937;
    font-style: italic;
    font-weight: 300;
}

.originator {
    font-size: 18px;
    padding: 0 30px;
    align-self: flex-end;
    font-weight: bold;
}

/* fourth portion of the web page, the sign up box */
.box {
    padding: 100px;
    /* creates flex item sign-up */
    display: flex;
    justify-content: center;
    align-items: center;
}


.sign-up {
    font-family: 'Roboto';
    background-color: #3882F6;
    width: 900px;
    height: 150px;
    /* creates flex items h2 and p */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 20px 100px;
}

.sign-up h2 {
    font-size: 24px;
}

.sign-up p {
    font-size: 18px;
}

.sign-up button {
    font-size: 18px;
    border-style: solid;
    border-color: #E5E7EB;
}

/* last part of webpage, the footer */
.footer {
    font-family: 'Roboto';
    background-color: #1F2937;
    text-align: center;
    color: #E5E7EB;
    font-size: 18px;
    padding: 20px;
}